:root {
  // Основные цвета
  --color-main-dark-blue: #5629E1;
  --color-main-dark-grey-main: #1A1A1A;
  --color-main-dark-grey-secondary: rgba(26, 26, 26, .5);
  --color-main-azure: #4FD1C5;
  --color-main-light-gray: rgb(196, 196, 196, .3);
  --color-main-blue: #F8F9FA;

  // Нейтральные цвета
  --color-black: #171D25;
  --color-dark-grey: #50555C;
  --color-dark-grey-blue: #999CAD;
  --color-grey: #DADADA;
  --color-light-grey: #F6F6F6;


}
