.container {
  gap: 16px;
  display: grid;
  grid-template-columns: 53% 1fr;
  grid-template-rows: 1fr min-content;
}

.user {
  background: #fff;
  box-shadow: 8px 4px 14px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  position: relative;
  padding: 23px 20px 23px 134px;
  .pic {
    width: 82px;
    height: 82px;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -41px;
  }
  .nikname {
    font-weight: 600;
    font-size: 20px;
    line-height: 143%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
    color: rgba(26, 26, 26, 0.5);
  }
  .status {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    background: #fff;
    padding: 5px 18px;
    border: 1px solid #f7f7f7;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    img {
      display: inline-block;
      vertical-align: middle;
    }
    &.verified {
      color: #00c48c;
    }
  }
  .name {
    display: block;
    margin: 0;
  }
}

.text {
  background: #fff;
  box-shadow: 8px 4px 14px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  position: relative;
  padding: 23px 20px;

  .name {
    margin: 0;
    margin-bottom: 8px;
  }
  p {
    color: rgba(26, 26, 26, 0.5);
    font-size: 12px;
    line-height: 143%;
    margin: 8px 0 0;
    word-break: break-all;
    span {
      color: #5629e1;
      padding-left: 5px;
      cursor: pointer;
    }
  }
}

.infoLot {
  grid-column: 2/3;
  grid-row: 1/3;
  background: #fff;
  box-shadow: 8px 4px 14px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  position: relative;
  padding: 23px 0 0;
  .name {
    padding: 0;
    margin: 0 0 6px 0;
    padding: 0 23px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      padding: 21px 39px 21px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & + li {
        border-top: solid 1px rgba(196, 196, 196, 0.3);
      }
      .title {
        font-size: 16px;
        font-weight: 600;
        color: rgba(26, 26, 26, 0.5);
      }
      .data {
        font-weight: 500;
        font-size: 16px;

        color: #1a1a1a;
      }
    }
  }
}

.statusInfo {
  position: absolute;
  right: 30px;
  top: 24px;
  padding: 6px 16px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  font-size: 12px;
  &.await {
    background-color: #00c48c;
    color: #fff;
  }
  &.wait {
    background-color: #ffd74b;
    color: rgba(26, 26, 26, 0.5);
    border: 1px solid #f7f7f7;
  }
  &.work {
    background: #dadada;
    border: 1px solid #f7f7f7;
    color: rgba(26, 26, 26, 0.5);
  }
}

@media (max-width: 1024px) {
  .user {
    grid-column: 1/3;
  }
  .infoLot {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
  .user {
    grid-column: 1/3;
  }
  .text {
    grid-column: 1/3;
  }
  .infoLot {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

@media (max-width: 479px) {
  .user {
    padding: 25px 5px 25px 80px;
    .pic {
      width: 40px;
      height: 40px;
      margin-top: -20px;
    }
    .nikname {
      font-size: 16px;
    }
  }
  .infoLot {
    grid-column: 1/3;
    grid-row: 3/3;
    .name {
      padding: 0 15px;
    }
    ul {
      li {
        padding: 16px 15px;
        .title {
          font-size: 14px;
        }
        .data {
          font-size: 14px;
        }
      }
    }
  }
}
