.list {
  padding: 0;

  list-style: none;
}

.item {
  margin-bottom: 24px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.item.itemCell {
  width: 48%;
  @media (max-width: 839px) {
    width: 100%;
  }
}
