.container {
  display: flex;
  align-items: center;

  background: #FFFFFF;
  border: 1px solid #F7F7F7;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 50px;
}

.toggleButton {
  padding: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: transparent;

  cursor: pointer;
  transition: all .1s ease;

  &:hover {
    opacity: .75;
  }
}

.field {
  width: 0;
  padding: 0;

  border: none;
  background-color: transparent;
  outline: none;

  transition: all .15s ease;
}

.open {
  .field {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
}