.container {
  padding: 24px;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  box-shadow: 8px 4px 14px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  cursor: pointer;
  &:hover {
    box-shadow: 8px 4px 14px rgba(0, 0, 0, 0.02);
  }
  & + .container {
    margin-top: 24px;
  }
  .head {
    margin-bottom: 5px;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      li {
        font-size: 12px;
        line-height: 143%;
        color: #1a1a1a;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
        .data {
          color: rgba(26, 26, 26, 0.5);
        }
        & + li {
        }
      }
    }
  }
  .title {
    margin: 0;
  }
  p {
    color: rgba(26, 26, 26, 0.5);
    margin: 8px 0 0;
  }
  .controls {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    .left {
    }
    .right {
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 16px;
      li {
        font-size: 12px;
        line-height: 143%;
        color: #1a1a1a;
        display: flex;
        gap: 6px;
        align-items: center;
        .data {
          color: rgba(26, 26, 26, 0.5);
        }
        & + li {
        }
      }
    }
  }
}

.appUser {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;

  .txt {
    font-size: 14px;
    line-height: 143%;
    color: #00c48c;
    padding: 6px 12px;
    background: #ffffff;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }
  .picture {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
}

.statusGood {
  font-size: 14px;
  line-height: 143%;
  color: rgba(26, 26, 26, 0.5);
  background: #dadada;
  padding: 6px 12px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
