.container {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 16px;
  cursor: pointer;
}

.info {
  cursor: pointer;
}

.role {
  margin: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: rgba(26, 26, 26, 0.5);
}

.name {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1a1a1a;
}
